flows.json
[
    {
        "id": "3d061baa5ac89f31",
        "type": "inject",
        "z": "341f1be62725959b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "4161e1c6e7485d4a",
                "bf52addfd7dbf59c",
                "5979660d96b34ce5",
                "18ab880948c0f463",
                "4c38a4ebe3990737",
                "9e2b433915b2dd7e",
                "1fd1f2c49a3c7d13",
                "a5d0108f12b5d6f8",
                "50245dbe494a4e2d",
                "4172036c4c4d22dd",
                "a3c7208be4436399",
                "194ee99c049827f0",
                "6974d95fed334b1c",
                "9755bc544f2a4c20",
                "77ad12006d916445",
                "962776bfb9d7a103",
                "829315c1199ee1ab",
                "8abf7db8ba6dbfc5"
            ]
        ]
    },
    {
        "id": "fad92d381a60a596",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Smart Farm",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "4161e1c6e7485d4a",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu (-50 - 150 ℃)",
        "low": "-50",
        "high": "150",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "fbbad36ad1a1b93d",
                "eb78020b16da18b4",
                "95e299d536ccfd21"
            ]
        ]
    },
    {
        "id": "bf52addfd7dbf59c",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ad888bbb2f568a03",
                "d07e2cb1d541b7e8",
                "405558fb5417d469"
            ]
        ]
    },
    {
        "id": "5979660d96b34ce5",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor pH (0 - 14 pH)",
        "low": "0",
        "high": "14",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "780cd4ce53749622",
                "d66733948aa56a54",
                "1a9d754ff1371524"
            ]
        ]
    },
    {
        "id": "1866d53c5f4f2d14",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Susu Hewani dan Telur",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbbad36ad1a1b93d",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "susuhewanidantelur/sensorsuhu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad888bbb2f568a03",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "susuhewanidantelur/sensorkelembapan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "780cd4ce53749622",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "susuhewanidantelur/sensorph",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb78020b16da18b4",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "405558fb5417d469",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "1a9d754ff1371524",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor pH",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "d07e2cb1d541b7e8",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "5d64108032296d0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "d66733948aa56a54",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "5d64108032296d0f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload}} pH",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "022fbb7ef8d0014e",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Daging Merah",
        "info": "",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "18ab880948c0f463",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Oksigen (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "798dd631551e98a0",
                "c69d9b0ee25f2284",
                "f9aadb8b6af2e9c4"
            ]
        ]
    },
    {
        "id": "4c38a4ebe3990737",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Garam (0 - 5%)",
        "low": "0",
        "high": "5",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 460,
        "wires": [
            [
                "45badf40441a87c0",
                "a9decb9f56caa25e",
                "2bdf8f09f1296164"
            ]
        ]
    },
    {
        "id": "9e2b433915b2dd7e",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Lemak (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "9348b0e4f1ebc3cf",
                "cd2ce653a8bac431",
                "93bdef8b149ecf08"
            ]
        ]
    },
    {
        "id": "45badf40441a87c0",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingmerah/sensorkadrgaram",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "9348b0e4f1ebc3cf",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingmerah/sensorkadarlemak",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "f9aadb8b6af2e9c4",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Oksigen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "2bdf8f09f1296164",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Garam",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "93bdef8b149ecf08",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Lemak",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "a9decb9f56caa25e",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "d3d78d40e094eb74",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Garam",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "cd2ce653a8bac431",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "d3d78d40e094eb74",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Lemak",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "e1dd5c01de31e41d",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Daging Putih",
        "info": "",
        "x": 270,
        "y": 600,
        "wires": []
    },
    {
        "id": "1fd1f2c49a3c7d13",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Sodium (0 - 100 mg)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "3efca5bb77118b68",
                "9132751961fd8eb5",
                "865502102aadeda2"
            ]
        ]
    },
    {
        "id": "a5d0108f12b5d6f8",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor kadar Protein (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "aaf80c0d98527394",
                "c044810662bd377a",
                "e0b028f130db9902"
            ]
        ]
    },
    {
        "id": "50245dbe494a4e2d",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sistem Kadar Gula (0 - 10%)",
        "low": "0",
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "d6a3b1e11c5d7fad",
                "cd97ba609b058f5b",
                "8d95e5eacfa4d871"
            ]
        ]
    },
    {
        "id": "3efca5bb77118b68",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingputih/sensorkadarsodium",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "aaf80c0d98527394",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingputih/sensorkadarprotein",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "d6a3b1e11c5d7fad",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingputih/sensorkadargula",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 610,
        "y": 780,
        "wires": []
    },
    {
        "id": "865502102aadeda2",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Sodium",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "e0b028f130db9902",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Protein",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d95e5eacfa4d871",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Gula",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 780,
        "wires": []
    },
    {
        "id": "9132751961fd8eb5",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "cf0b7ed76efdb88e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Sodium",
        "format": "{{msg.payload}} mg",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "c044810662bd377a",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "cf0b7ed76efdb88e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Protein",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "cd97ba609b058f5b",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "cf0b7ed76efdb88e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Gula",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "95e299d536ccfd21",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "5d64108032296d0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Suhu",
        "format": "{{msg.payload}} ℃",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "798dd631551e98a0",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "dagingmerah/sensoroksigen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "c69d9b0ee25f2284",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "d3d78d40e094eb74",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Oksigen",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "4172036c4c4d22dd",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan Tanah (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 960,
        "wires": [
            [
                "e2b92bec59770dad",
                "d7e322aa5388830c",
                "e55238afb2c7f2fe"
            ]
        ]
    },
    {
        "id": "a3c7208be4436399",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Intensi Cahaya (0 - 10.000 lux)",
        "low": "0",
        "high": "10000",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "1a1fdab04be8c101",
                "35b8eff231ee21f2",
                "7835ecb08c407cdb"
            ]
        ]
    },
    {
        "id": "194ee99c049827f0",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "+ Sensor Suhu Udara (-40 - 80 ℃)",
        "low": "-40",
        "high": "80",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "44f5fdfebad8c27a",
                "94591b37c804ab43",
                "32badc7a5789ac51"
            ]
        ]
    },
    {
        "id": "09199fd042f430fa",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Sumber Karbohidrat: Beras, Gandum, dan Jagung",
        "info": "",
        "x": 390,
        "y": 900,
        "wires": []
    },
    {
        "id": "e2b92bec59770dad",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sensorkarbohidrat/kelembapantanah",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 690,
        "y": 960,
        "wires": []
    },
    {
        "id": "1a1fdab04be8c101",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sensorkarbohidrat/intensicahaya",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 1020,
        "wires": []
    },
    {
        "id": "44f5fdfebad8c27a",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sensorkarbohidrat/suhuudara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d7e322aa5388830c",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan Tanah",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 960,
        "wires": []
    },
    {
        "id": "7835ecb08c407cdb",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Intensi Cahaya",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "32badc7a5789ac51",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Udara",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1080,
        "wires": []
    },
    {
        "id": "35b8eff231ee21f2",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "04a497a8847d7af1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Intensi Cahaya",
        "format": "{{msg.payload}} lux",
        "layout": "row-spread",
        "className": "",
        "x": 920,
        "y": 1020,
        "wires": []
    },
    {
        "id": "94591b37c804ab43",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "04a497a8847d7af1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Suhu Udara",
        "format": "{{msg.payload}} ℃",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 1080,
        "wires": []
    },
    {
        "id": "98d4e8a1cce63f99",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Sayuran",
        "info": "",
        "x": 260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "6974d95fed334b1c",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Tanah (-40 - 100 ℃)",
        "low": "-40",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "3ee95cde57aa4ed5",
                "a601611f578cb1ce",
                "83923db13667e0f2"
            ]
        ]
    },
    {
        "id": "9755bc544f2a4c20",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan udara (0 - 100%)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "e7cf4459bae871d4",
                "bad4b01dee8de260",
                "2d0b98cbfa05cfca"
            ]
        ]
    },
    {
        "id": "77ad12006d916445",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Co2 (0 - 5000 ppm)",
        "low": 1,
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1340,
        "wires": [
            [
                "711489860ce0357a",
                "41c1b4873900f7c8",
                "cd39a7483491496b"
            ]
        ]
    },
    {
        "id": "e7cf4459bae871d4",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sayuran/sensorkelembapanudara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 680,
        "y": 1280,
        "wires": []
    },
    {
        "id": "711489860ce0357a",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sayuran/sensorkadarco2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 1340,
        "wires": []
    },
    {
        "id": "83923db13667e0f2",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Suhu Tanah",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2d0b98cbfa05cfca",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kelembapan Udara",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 1280,
        "wires": []
    },
    {
        "id": "cd39a7483491496b",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Sensor Kadar Co2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1340,
        "wires": []
    },
    {
        "id": "bad4b01dee8de260",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "0a963221bc9d0042",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan Udara",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 1280,
        "wires": []
    },
    {
        "id": "41c1b4873900f7c8",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "0a963221bc9d0042",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kadar Co2",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fef6846a4c407fe3",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Buah-buahan",
        "info": "",
        "x": 270,
        "y": 1420,
        "wires": []
    },
    {
        "id": "962776bfb9d7a103",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kecepatan Angin (0 - 50 m/s)",
        "low": 1,
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "b4cbfad988ce0fd7",
                "4727c7b1b16b1da6",
                "33c80899ec94a789"
            ]
        ]
    },
    {
        "id": "829315c1199ee1ab",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Curah Hujan (0 - 200 mm)",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 1540,
        "wires": [
            [
                "ac49c16d2e13de65",
                "1efbb4cf443fbb14",
                "ab7302bf263225d1"
            ]
        ]
    },
    {
        "id": "8abf7db8ba6dbfc5",
        "type": "random",
        "z": "341f1be62725959b",
        "name": "Sensor Kualitas Air (0 - 300 pH)",
        "low": "0",
        "high": "300",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "945d784451559ac0",
                "f52ab44af7f17fae",
                "980edd5f7a818868"
            ]
        ]
    },
    {
        "id": "b4cbfad988ce0fd7",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "buah/sensorkecepatanangin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 660,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ac49c16d2e13de65",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "buah/sensorcurahhujan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 630,
        "y": 1540,
        "wires": []
    },
    {
        "id": "945d784451559ac0",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "buah/sensorkualitasair",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 600,
        "y": 1600,
        "wires": []
    },
    {
        "id": "33c80899ec94a789",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Kecepatan Angin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1480,
        "wires": []
    },
    {
        "id": "ab7302bf263225d1",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Curah Hujan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1540,
        "wires": []
    },
    {
        "id": "980edd5f7a818868",
        "type": "debug",
        "z": "341f1be62725959b",
        "name": "Kualitas Air",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4727c7b1b16b1da6",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "83185fba5f3f8852",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kecepatan Angin",
        "format": "{{msg.payload}}m/s",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1efbb4cf443fbb14",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "83185fba5f3f8852",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Curah Hujan",
        "format": "{{msg.payload}}mm",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f52ab44af7f17fae",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "83185fba5f3f8852",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kualitas Air",
        "format": "{{msg.payload}}pH",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1600,
        "wires": []
    },
    {
        "id": "e55238afb2c7f2fe",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "04a497a8847d7af1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan Tanah",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 950,
        "y": 960,
        "wires": []
    },
    {
        "id": "3ee95cde57aa4ed5",
        "type": "mqtt out",
        "z": "341f1be62725959b",
        "name": "",
        "topic": "sayuran/suhutanah",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a601611f578cb1ce",
        "type": "ui_text",
        "z": "341f1be62725959b",
        "group": "0a963221bc9d0042",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Suhu Tanah",
        "format": "{{msg.payload}} ℃",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 1220,
        "wires": []
    },
    {
        "id": "52d725d44230458f",
        "type": "comment",
        "z": "341f1be62725959b",
        "name": "Smart Plantation",
        "info": "",
        "x": 240,
        "y": 860,
        "wires": []
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d64108032296d0f",
        "type": "ui_group",
        "name": "Susu Hewani dan Telur",
        "tab": "2968c7d7c516d60d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3d78d40e094eb74",
        "type": "ui_group",
        "name": "Daging Merah",
        "tab": "2968c7d7c516d60d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf0b7ed76efdb88e",
        "type": "ui_group",
        "name": "Daging Putih",
        "tab": "2968c7d7c516d60d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04a497a8847d7af1",
        "type": "ui_group",
        "name": "Sumber Karbohidrat",
        "tab": "2968c7d7c516d60d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a963221bc9d0042",
        "type": "ui_group",
        "name": "Sayuran",
        "tab": "2968c7d7c516d60d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83185fba5f3f8852",
        "type": "ui_group",
        "name": "Buah - buahan",
        "tab": "2968c7d7c516d60d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2968c7d7c516d60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]