flows.json
[
    {
        "id": "6d30e3e96539ce6a",
        "type": "tab",
        "label": "PRAUAS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "85d39f6a7c6e6e8b",
        "type": "inject",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "0e765ccf35554e09",
                "1e9d41f73756fbb5",
                "31eee4d4fac49cf8",
                "763d954716490a03",
                "2cd8bfd31f1e87c0",
                "7aed6081ead60d51",
                "2c41c884b96fb862",
                "49be0e20ad8ba11f",
                "f6facd9329bbb009"
            ]
        ]
    },
    {
        "id": "0e765ccf35554e09",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 140,
        "wires": [
            [
                "c0360b13755a6b16",
                "db2f613cb6c1b7f8",
                "7ceaa25b8e544052"
            ]
        ]
    },
    {
        "id": "1e9d41f73756fbb5",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "0eeec08a5e36753f",
                "d8ae59365b280aa2",
                "449a4a4b6ed94b7f"
            ]
        ]
    },
    {
        "id": "31eee4d4fac49cf8",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "a71460574678af18",
                "43c8a70576f21035",
                "f253f9f722628e8b"
            ]
        ]
    },
    {
        "id": "c0360b13755a6b16",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "0eeec08a5e36753f",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "a71460574678af18",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "763d954716490a03",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "7c44a89bf4f832fb",
                "1e6cf3d34b83f7d8",
                "59abc82680bb6f11"
            ]
        ]
    },
    {
        "id": "2cd8bfd31f1e87c0",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "fb2d88f8210f5c45",
                "7759f644bc0a5847",
                "ae8f4796a4a9eba5"
            ]
        ]
    },
    {
        "id": "7aed6081ead60d51",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "600",
        "high": "1200",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "48950a8ff5bae708",
                "cea9648570a75f4d",
                "5321f680c9be52ac"
            ]
        ]
    },
    {
        "id": "7c44a89bf4f832fb",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb2d88f8210f5c45",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "48950a8ff5bae708",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "db2f613cb6c1b7f8",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor1/sensor11",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "d8ae59365b280aa2",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor1/sensor12",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "43c8a70576f21035",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor1/sensor13",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "1e6cf3d34b83f7d8",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor2/sensor21",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "7759f644bc0a5847",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor2/sensor22",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "cea9648570a75f4d",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor2/sensor23",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "2c41c884b96fb862",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 720,
        "wires": [
            [
                "43df71fc0939296c",
                "7cc35e836a78c564",
                "aa19a6f0f4fb484e"
            ]
        ]
    },
    {
        "id": "49be0e20ad8ba11f",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 800,
        "wires": [
            [
                "88020b29a9e7d25c",
                "acf1fbfea2490605",
                "0adeea69a98a9da3"
            ]
        ]
    },
    {
        "id": "f6facd9329bbb009",
        "type": "random",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "low": "600",
        "high": "1200",
        "inte": "true",
        "property": "payload",
        "x": 440,
        "y": 880,
        "wires": [
            [
                "9153748a15a1d951",
                "5d2f4a55beb5e2fe",
                "6550cbe0b3cf99e7"
            ]
        ]
    },
    {
        "id": "43df71fc0939296c",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "88020b29a9e7d25c",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "9153748a15a1d951",
        "type": "debug",
        "z": "6d30e3e96539ce6a",
        "name": "Sensor 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "7cc35e836a78c564",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor3/sensor31",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "acf1fbfea2490605",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor3/sensor32",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "5d2f4a55beb5e2fe",
        "type": "mqtt out",
        "z": "6d30e3e96539ce6a",
        "name": "",
        "topic": "sensor3/sensor33",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d3f7870c913018a",
        "x": 650,
        "y": 900,
        "wires": []
    },
    {
        "id": "7ceaa25b8e544052",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "c884f1ba80e672ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 11",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "449a4a4b6ed94b7f",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "c884f1ba80e672ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 12",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "f253f9f722628e8b",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "c884f1ba80e672ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 13",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "59abc82680bb6f11",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "f3193a4f3c0d8f34",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 21",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 420,
        "wires": []
    },
    {
        "id": "ae8f4796a4a9eba5",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "f3193a4f3c0d8f34",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 22",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "5321f680c9be52ac",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "f3193a4f3c0d8f34",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 23",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "aa19a6f0f4fb484e",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "fce3fa58b4913109",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 31",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "0adeea69a98a9da3",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "fce3fa58b4913109",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 32",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 800,
        "wires": []
    },
    {
        "id": "6550cbe0b3cf99e7",
        "type": "ui_text",
        "z": "6d30e3e96539ce6a",
        "group": "fce3fa58b4913109",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor 33",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "1d3f7870c913018a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c884f1ba80e672ba",
        "type": "ui_group",
        "name": "Sensor1",
        "tab": "2968c7d7c516d60d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3193a4f3c0d8f34",
        "type": "ui_group",
        "name": "Default",
        "tab": "2968c7d7c516d60d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fce3fa58b4913109",
        "type": "ui_group",
        "name": "Sensor3",
        "tab": "2968c7d7c516d60d",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2968c7d7c516d60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]