flows.json
[
    {
        "id": "cf9bfc362e1b0858",
        "type": "tab",
        "label": "Smart Building",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2624b3759978225e",
        "type": "inject",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "9726cc88b7b7bbf9",
                "425545c08ff0971d",
                "662fd72ffdea1d61",
                "8800d5e272ebe73c",
                "fe562fc047d32d14",
                "08a6449a3aefa281",
                "9b6b3e614f7dd1d4",
                "78fb91fca1fb192e",
                "07479d22dedbcb23"
            ]
        ]
    },
    {
        "id": "9726cc88b7b7bbf9",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "-10 -- 50 derajat Celsius",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "18eccc9f10c11053",
                "a4bf7f263e3a3ec1",
                "1537610683cb7249"
            ]
        ]
    },
    {
        "id": "425545c08ff0971d",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "0-100 m3/s",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "2d2699a5e0e30bba",
                "a0ff6578854d4f93",
                "f7a7f441374464fa"
            ]
        ]
    },
    {
        "id": "662fd72ffdea1d61",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "-10 -- 50 derajat Celsius",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "4de4f91d1cab12ec",
                "62d0a094d692235a",
                "f1454c4d9a19f218"
            ]
        ]
    },
    {
        "id": "dc3aa4395238817b",
        "type": "comment",
        "z": "cf9bfc362e1b0858",
        "name": "Water Heating System",
        "info": "test",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "18eccc9f10c11053",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Water Temperature Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "2d2699a5e0e30bba",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Water Usage Rate Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "4de4f91d1cab12ec",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Outside Temperature Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "fdce5a8491be6518",
        "type": "comment",
        "z": "cf9bfc362e1b0858",
        "name": "Fan Control System",
        "info": "",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "8800d5e272ebe73c",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "-10 -- 50 derajat Celsius",
        "low": "-10",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "c1b7d269f38ac4d7",
                "52cf7da08795d166",
                "a5ce35ed4c045d28"
            ]
        ]
    },
    {
        "id": "fe562fc047d32d14",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "0-100 percent",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 540,
        "y": 680,
        "wires": [
            [
                "25036866a529b8d6",
                "732bd5b9d7cd8830",
                "051fb53be161dc4b"
            ]
        ]
    },
    {
        "id": "08a6449a3aefa281",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "600 -- 1200 ppm",
        "low": "600",
        "high": "1200",
        "inte": "true",
        "property": "payload",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "5a2aa11527701399",
                "6e25daf7335498bb",
                "93be316452a82007"
            ]
        ]
    },
    {
        "id": "c1b7d269f38ac4d7",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Temperature Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "25036866a529b8d6",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Humidity Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 660,
        "wires": []
    },
    {
        "id": "5a2aa11527701399",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "CO2 Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 740,
        "wires": []
    },
    {
        "id": "7fc17b804e0bd281",
        "type": "comment",
        "z": "cf9bfc362e1b0858",
        "name": "Lighting Control System",
        "info": "",
        "x": 520,
        "y": 860,
        "wires": []
    },
    {
        "id": "9b6b3e614f7dd1d4",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "0-2000 lux",
        "low": "0",
        "high": "2000",
        "inte": "true",
        "property": "payload",
        "x": 530,
        "y": 940,
        "wires": [
            [
                "3f6abd4bfb9b6c8a",
                "cac71bfba7d3fdd6",
                "a3da411afce987e2"
            ]
        ]
    },
    {
        "id": "78fb91fca1fb192e",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "0-20 person",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "payload",
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "aaf11245d97ad99e",
                "79275ac58a5480c3",
                "3f142fcee4637377"
            ]
        ]
    },
    {
        "id": "07479d22dedbcb23",
        "type": "random",
        "z": "cf9bfc362e1b0858",
        "name": "0-2000 lux",
        "low": "0",
        "high": "2000",
        "inte": "true",
        "property": "payload",
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "10b757e9a0deebdc",
                "8a3c19d4c08e7e6b",
                "47262f059f29d5f9"
            ]
        ]
    },
    {
        "id": "3f6abd4bfb9b6c8a",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Light Level Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 920,
        "wires": []
    },
    {
        "id": "aaf11245d97ad99e",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Occupancy Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1000,
        "wires": []
    },
    {
        "id": "10b757e9a0deebdc",
        "type": "debug",
        "z": "cf9bfc362e1b0858",
        "name": "Daylight Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a4bf7f263e3a3ec1",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "waterheating/watertemp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "a0ff6578854d4f93",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "waterheating/waterusagerate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "62d0a094d692235a",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "waterheating/outtemp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "52cf7da08795d166",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "fancontrol/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "732bd5b9d7cd8830",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "fancontrol/hum",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 840,
        "y": 700,
        "wires": []
    },
    {
        "id": "6e25daf7335498bb",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "fancontrol/co2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "cac71bfba7d3fdd6",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "lighting/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 830,
        "y": 960,
        "wires": []
    },
    {
        "id": "79275ac58a5480c3",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "lighting/occupants",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 850,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8a3c19d4c08e7e6b",
        "type": "mqtt out",
        "z": "cf9bfc362e1b0858",
        "name": "",
        "topic": "lighting/daylight",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a06e2cd503d56e96",
        "x": 840,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a88e397cf7fdc54c",
        "type": "comment",
        "z": "cf9bfc362e1b0858",
        "name": "Smart Building",
        "info": "",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "1537610683cb7249",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "cb0c5efbaf13c3de",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "f7a7f441374464fa",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "cb0c5efbaf13c3de",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water Usage Rate",
        "format": "{{msg.payload}} m^3/s",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "f1454c4d9a19f218",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "cb0c5efbaf13c3de",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Outside Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 380,
        "wires": []
    },
    {
        "id": "a5ce35ed4c045d28",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "f3193a4f3c0d8f34",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature ",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 600,
        "wires": []
    },
    {
        "id": "051fb53be161dc4b",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "f3193a4f3c0d8f34",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 680,
        "wires": []
    },
    {
        "id": "93be316452a82007",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "f3193a4f3c0d8f34",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO2",
        "format": "{{msg.payload}} ppm",
        "layout": "row-spread",
        "className": "",
        "x": 1130,
        "y": 760,
        "wires": []
    },
    {
        "id": "a3da411afce987e2",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "620815ca31027fe1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Level",
        "format": "{{msg.payload}} lux",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 940,
        "wires": []
    },
    {
        "id": "3f142fcee4637377",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "620815ca31027fe1",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Occupancy",
        "format": "{{msg.payload}} person",
        "layout": "row-spread",
        "className": "",
        "x": 1150,
        "y": 1020,
        "wires": []
    },
    {
        "id": "47262f059f29d5f9",
        "type": "ui_text",
        "z": "cf9bfc362e1b0858",
        "group": "620815ca31027fe1",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Daylight",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a06e2cd503d56e96",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cb0c5efbaf13c3de",
        "type": "ui_group",
        "name": "Water Heating System",
        "tab": "2968c7d7c516d60d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3193a4f3c0d8f34",
        "type": "ui_group",
        "name": "Fan Control System",
        "tab": "2968c7d7c516d60d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "620815ca31027fe1",
        "type": "ui_group",
        "name": "Lighting Control System",
        "tab": "2968c7d7c516d60d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2968c7d7c516d60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]